include ../head.pug
body
    .container
     h1 List of events
     table.table.table-responsive.table-hover.table-striped-columns
        thead
        tr
            th(scope="col") ID
            th(scope="col") Event Name
            th(scope="col") Event DateTime
            th(scope="col") Venue
            th(scope="col") Actions
        tbody
script.
      document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/event')
          .then(function(response) {
            const events = response.data;
            const tableBody = document.querySelector('table tbody');
            events.forEach(t => {
              const row = document.createElement('tr');
              const event = t.event
              row.innerHTML = `
                <td>${t.id}</td>
                <td>${event.eventName}</td>
                <td>${event.eventDateTime}</td>
                <td>${event.venue}</td>
                <td>
                  <button class="btn btn-outline-primary">Edit</button>
                  <button class="btn btn-outline-danger" data-id="${t.id}">Delete</button>
                </td>`;
                tableBody.appendChild(row);
                });
          })
          .catch(function(error) {
            console.log(error);
          });

          // Use event delegation for delete buttons
          document.addEventListener('click', function(event) {
            if (event.target && event.target.classList.contains('btn-danger')) {
              const eventId = event.target.getAttribute('data-id');
              axios.delete(`/api/event/${eventId}`).then(function(response) {
                console.log('Delete successful', response);
                location.href = '/'
              })
              .catch(function(error) {
                console.log('Error deleting ticket', error);
              });
            }
          });
      });

      